/*
dont expect the CSS to be perfect or even totslly right i feel there will be a lot
of mistakes and you might even find it a mess.
*/
@font-face {
    font-family: harry-p;
    src:url("fonts/HARRYP__.TTF");
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  content: justify;
  line-height: 1.6;
  font-family: serif;
  font-size: 1.3em;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas:
  	"header header header"
    "nav main_content right_bio"
}
.main_content {
   margin: 0 auto;
   margin-top: 10%;
   grid-area: main_content;
}
.main-header {
  text-align: center;
  grid-area: header;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/HP_castle.jpg");
  background-size: cover;
 }

 .main-header h1 {
     font-family: harry-p;
     font-size: 10em;
     color: black;
     text-shadow: 3px 4px 1px white;
 }
.nav {
  margin-left: 10%;
  grid-area: nav;
  background-color: black;
  padding: 2rem;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
    border-bottom: 1px solid white;
    margin-top: 0.5em;
}

.nav a {
	text-decoration: none;
	color: white;
}

.nav a:hover {
    color: yellow;
}
.right_bio{
  grid-area: right_bio;
  margin-top: 10%;
  margin-left: 0;
}
img{
  width: 100%;
  height: auto;
}
