/*
dont expect the CSS to be perfect or even totslly right i feel there will be a lot
of mistakes and you might even find it a mess.
*/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border: 1.2em;  /* not sure why this is not working*/
  border-color: "solid black"
}
#container {
  content: justify;
  line-height: 1.6;
  font-family: serif;
  font-size: 1.3em;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas:
  	"header header header"
    "nav main_content right_bio"
}
.main_content {
   margin: 0 auto;
   margin-top: 10%;
   grid-area: main_content;
}
h1 {
  text-align: center;
/*  margin-left: 30rem;  with this the centering is happening but the whole thing moves*/
  grid-area: header;
 }
.nav {
  margin-left: 10%;
  grid-area: nav;
}

.nav ul {
  list-style-type: none;
}

.nav a {
	text-decoration: none;
	color: black;
}
.right_bio{
  grid-area: right_bio;
  margin-top: 10%;
  margin-left: 0;
}
img{
  width: 100%;
  height: auto;
}
body{
  background-image: url("img/HP_castle.jpg");  /*i was trying to put a banner with this
  so ignore*/
}
/*even thought i was trying to copy the thing it doesnt look like its suppose to.*/
